*{
    margin: 0;
    padding: 0;
}
body {
  font: 13px/1.5 Helvetica Neue,Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;
}
.stream {
    background-color: #FFFFFF;
    margin-top: 1px;
    min-height: 600px;
    padding-top: 1px;
    position: relative;
}
.stream-item {
  border-bottom: 1px solid #EBEBEB;
  clear: both;
  display: block;
  margin-top: -1px;
  min-height: 60px;
  outline: medium none;
  position: relative;
}
.rss-headline {
  font-size: 15px;
  padding: 10px 20px;
  position: relative;
}
.rss-image {
  float: left;
  margin-right: 20px;
  overflow: hidden;
}
.user-profile-link {
  cursor: pointer;
}
fieldset, img {
  border: 0 none;
}
.rss-content {
  margin-left: 58px;
  min-height: 48px;
}
.rss-row {
  display: block;
  line-height: 15px;
  position: relative;
}
.rss-timestamp {
  color: #999999 !important;
  font-size: 11px;
}
#loading-gif{
    text-align: center;
    display: none;
    margin-top: 5px;
}
.tip{
    border: 1px solid #C0C0C0;
    color: #999999;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    text-align: center;
}
#maxitems, #no_more_rss{
    color: red;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    display: none;
}
.error{
    color: red;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    text-align: center;
    margin: auto;
    padding: 25px;
    width: 600px;
    font-size: 16px;
    margin-top: 100px;
}
.stream-container{
    margin-top: 20px;
}
